.box_shadow_highlight {
    box-shadow : 2px 2px 3px #888888;
}

.bucket {
    padding-left: 13px;
    height: 160px;
    width: 50px;
}

.game_board {
    text-align: center;
}

.stats {
    margin: 1px 0 1px 0;
}

.game-end {
    display: none;
}

.game_board_info .coin {
    height:40px;
    width: 40px;
    border-width: 2px;
}

.first_player {
    background-color: #00B4CC;
    border: 2px solid #005F6B;
}

.second_player {
    background-color: #F03C02;
    border: 2px solid #A30006;
}

.coin {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.game_board .coin {
    position: absolute;
}